<div class="container">
  <h1 style="color:black;"><center><b>PUMP IT UP!</b></center></h1>
  <div class="col-md-8">
    <div ng-show="stations" class="map">
      <div id="googlemap" class="map__canvas" style="position: relative; overflow: hidden; transform: translateZ(0px); background-color: rgb(229, 227, 223);">
          <div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur) 8 8, default;">
          </div>
      </div>
    </div>
    
    <div ng-hide="stations" align="center">
      STATION LOCATIONS ARE LOADING!!
    </div>
  </div>

  <!-- Filter options -->
  <div class="col-md-4" align="center">
    <p>What is your fuel type?</p>
    <select ng-model="selected.fuel" ng-init="selected.fuel = types[0]">
      <option ng-repeat="type in types" value="{{type}}">{{type}}</option>
    </select>

    <br>
    I'm willing to travel a maximum of {{ distanceSlider | json }} km
    <rzslider rz-slider-model="distanceSlider"
                rz-slider-floor="0.5"
                rz-slider-ceil="10"
                rz-slider-always-show-bar="true"
                rz-slider-tpl-url="rzSliderTpl.html"></rzslider>

    <button ng-click="cheapestStations(); findCheapestWithinDistance(distanceSlider)">Update</button>
  </div>

</div>